.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0, 5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;

}


.modal{
    font-family:'Montserrat', sans-serif;
    background-color: #fff;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modal button{
    padding: 15px;
    width: 150px;
    background-color: rgb(36,142,228);
    border-radius: 50px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
}

.modal-class{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

